{% extends "base.html" %}
{% block title %}
    Explanation     
{% endblock %}

{% block body %}
<main>
    <h1>Explanation</h1>
    <h2>How to interpret a quadratic funciton</h2>
    <p>First of all you need to analyse what are the values and your signal, that you will be able to understand in depth this expression in Math.</p>
    <h2>What each element do in the quadratic function</h2>
    <h3>Constant a</h3>
    <p> What each element do in the quadratic function.</p>
    <ul>
        <li>When a is positive the concavity is up.</li>
        <img src="/static/imagens/raiz negatica, a positivo, b positivo, c positivo.png" alt="image from graph" class="image">
        <li>When a is negative the concavity is down.</li>
        <img src="../static/imagens/a negative, b negative, c negative.png" alt="image from graph" class="image">
    </ul>
    <h3>Constant b</h3>
    <p>b is the constant that dictates how the graph will cross the y axie, if is incresing ou decreasing.</p>
    <ul>
        <li>When b is positive the graph will cross the graph incressing.</li>
        <img src="../static/imagens/a positivo, b positivo, c negativo.png" alt="image from graph" class="image">
        <li>When b is negative the grph will cross the graph decreasing.
        </li>
        <img src="../static/imagens/a negative, b negative, c negative.png" alt="image from graph" class="image">
    </ul>
    <h3>Constant c</h3>
    <p>c is the constant that dictates where the graph will cross the y axie, if is above or down of the point (0,0).</p>
    <ul>
        <li>When c is positive the graph will cross the y axie above the point (0,0).</li>
        <img src="../static/imagens/a positivo, b negativo, c positivo.png" alt="image from graph" class="image">
        <li>when c is negative the graph will cross the y axie down the point (0,0).</li>
        <img src="../static/imagens/a negative, b negative, c negative.png" alt="image from graph" class="image">
    </ul>
</main>
{% endblock %}