{% extends "login_re.html" %}


{% block title %}
    Login   
{% endblock %}

{% block content %}
<main class="login">
    <h1>Log in</h1>
        <form action="/login" method="post" class="form-box">
                <div id="inputs">
                    <input type="text" name="name" placeholder="Username" required class="input-field">
                    <input type="password" name="password" placeholder="Password" required class="input-field">
                </div>
            <input type="submit" value="Log in" class="button-box" >
            <img src="../static/imagens/Calculator-bro.png" alt="calculator" id="img">
        </form>
</main>
{% endblock %}
